.cabeçalho__menu_hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_botao:checked ~ .containet_rotulo > .cabeçalho__menu_hamburguer {
    background-image: url("../img/Aberto.svg");
}

.container_botao:checked ~ .containet_rotulo {
    background: var(--azul-degrade);
}

.cabeçalho__menu_hamburguer:hover {
    cursor: pointer;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--branco);
    border-radius: 0 0 20px 20px;
}

.container_botao:checked ~ .lista_menu {
    display: block;
    z-index: 2;
}

.lista_menu_titulo,
.lista_menu_item{
    padding: 1em;
    
}

.lista_menu_titulo {
    color: var(--cor-de-titulo);
    font-weight: 700;
}

.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container_botao {
    display: none;
}

.container_titulo {
    display: none;
}

.opções {
    display: none;
}

.container_texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container_titulo, .container_titulo_negrito {
        font-family: var(--font-secudario);
        font-size: 30px;
    }

    .container_titulo {
        font-weight: 400;
        display: block;
    }

    .container_titulo_negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções_item {
        padding: 0 1em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .opções_link {
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem_transparente {
        display: none;
    }

    .cabeçalho__menu_hamburguer {
        display: none;
    }

    .opções_botão:checked ~ .lista_menu{
        display: block;
        width: auto;
    }

    .opções_botão {
        display: none;
    }

    .opções_botão:checked ~ .opções_rotulo > .opções_item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opções_item {
        padding: 2em 1em;
    }

    .lista_menu_item:hover {
        background: var(--azul-degrade);
    }
    .lista_menu_item:hover > .lista_menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .lista_menu {
        z-index: 2;
    }
}

@media screen and (min-width: 1728px){
    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container_texto {
        display: block;
    }
    
    .cabeçalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }
}